@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Rubik+Vinyl&display=swap');

.start h1{
    font-size: 3.5em;
    font-family: "Rubik Vinyl", serif;

}
.start p{
    margin-bottom: 2em;
    color: yellow; 
    font-family: "Bebas Neue", serif;
}