@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bangers&family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Vinyl&display=swap');

html,body{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(
        180deg,
        rgba(9,35,175,1) 0%,
        rgb(0, 0, 0, 1) 100%
    );
    color:white;    
}

h1{
    font-size: 3.5em;
    font-family: "Rubik Vinyl", serif;
}

h3{
    color: white;
    font-family: "Bebas Neue", serif;
}

p{
    margin-bottom: 2em;
    color: yellow; 
    font-family: "Bebas Neue", serif;
}

span{
    color: yellow;
    font-family: "Roboto", serif;
    font-weight: bold;    
}

button {
    background: #1646a0;
    color:white;
    padding: 0 45px; /*Padding-top: 0 px & paddin-Left/right: 45 px*/
    border: 2px solid white;
    border-radius: 25px;
    cursor: pointer;
    height: 50px;
    text-transform:uppercase;
    font-weight: bold;
    font-size: 1.2em;
    transition: .4s;
}

button:hover {
    background: #002a73;
}