@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

html,body{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(
        180deg,
        rgba(9,35,175,1) 0%,
        rgb(0, 0, 0, 1) 100%
    );
    color:white;    
}

button {
    background: #1646a0;
    color:white;
    padding: 0 45px; /*Padding-top: 0 px & paddin-Left/right: 45 px*/
    border: 2px solid white;
    border-radius: 25px;
    cursor: pointer;
    height: 50px;
    text-transform:uppercase;
    font-weight: bold;
    font-size: 1.2em;
    transition: .4s;
}

button:hover {
    background: #002a73;
}